[Desktop Entry]
Version=1.0
Type=Application
Name=Rigset
GenericName=Software Installer
Comment=Install your favourite apps in one click
Exec=rigset
Icon=rigset
Categories=System;PackageManager;
Keywords=install;apps;software;packages;
StartupNotify=true
StartupWMClass=Rigset
