[Desktop Entry]
Version=1.0
Type=Application
Name=App Installer
GenericName=Software Installer
Comment=Install your favourite apps in one click
Exec=appinstaller
Icon=appinstaller
Categories=System;PackageManager;
Keywords=install;apps;software;packages;
StartupNotify=true
StartupWMClass=AppleInstaller
